body{
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(227, 10%, 46%);
    background-color: hsl(185, 75%, 39%);
    text-align: center;
}

h2{
    font-size: 1.025em;
    color: hsl(229, 23%, 23%);
}
.bg-container{
    margin: 0;
    width: device-width;

}
.bg-top{
    position: fixed;
    bottom: 45%;
    right: 60%;
}

.bg-bottom{
    position: fixed;
    top: 55%;
    left: 58%;
}

.card{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 350px;
    height: 370px;
    border-radius: 3%;
    overflow: hidden;
}

.profile-picture{
    border-radius: 100%;
    border: solid white 5px;
    position: relative;
    bottom: 15%;

}

.name{
    position: relative;
    bottom: 15%;
}

.age{
    font-weight: 400;
    color: hsl(227, 10%, 46%);
    margin-left: 1%;
}

.city{
    font-size: 0.8em;
    position: relative;
    bottom: 16%;
}

.rule{
    border: solid hsl(0, 0%, 59%, .2) 0.001em;
    border-bottom: hidden;
    position: relative;
    bottom: 14%;
}

.stats{
    width: 70%;
    margin: auto;
    position: relative;
    bottom: 12%;
    line-height: 0.3em;
}
.stats p{
    font-size: 0.5em;
    letter-spacing: 0.2em;
}

.followers{
    display: inline-block;
    float: left;
}

.likes{
    display: inline-block;
}

.photos{
    display: inline-block;
    float: right;
}

.attribution {
    font-size: 11px; 
    text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}